<!DOCTYPE html>
<html>
    <head>
        <title> {{ title }} </title>
    </head>

    <body>
        <div id="player">
            <script>
                var tag = document.createElement('script');
                tag.src = "https://www.youtube.com/iframe_api";

                var firstScriptTag = document.getElementsByTagName('script')[0];
                firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                var player;
                function onYouTubeIframeAPIReady() {
                    player = new YT.Player('player', {
                        height: '390',
                        width: '640',
                        events: {
                            'onReady': onPlayerReady                        }
                    });
                }

                ids = [];
                {% for id in ids%}
                    ids.push('{{id}}');
                {% endfor %}

                function onPlayerReady(event) {
                    event.target.loadPlaylist(ids);
                }

            </script>

        </div>
    </body>

</html>
